AutomationN8n.json
{
  "name": "Automation",
  "nodes": [
    {
      "parameters": {
        "content": "# 1️⃣  →  Step 1 — Generate prompts from Telegram input\n## Automate video ads with NanoBanana, Seedream 4, ChatGPT Image and Veo 3 (By Dr. Firas)\n### What problem is this workflow solving? / Use case\nCreating video ads usually requires multiple tools and a lot of time: writing scripts, designing product visuals, editing videos, and publishing them across platforms.  \nThis workflow **automates the entire pipeline** — from idea to ready-to-publish ad video — ensuring brands can quickly test campaigns and boost engagement without production delays.",
        "height": 624,
        "width": 1948,
        "color": 7
      },
      "id": "172c7316-350a-46a8-a720-f0be6b22cff0",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        928,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.photo[2].file_id }}",
        "additionalFields": {}
      },
      "id": "b5e1088e-f59b-48c0-bad0-65887aa9e37b",
      "name": "Telegram: Get Image File",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1312,
        512
      ],
      "webhookId": "f564ba5f-747b-4ad3-b496-70c1aabb1a88",
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "7fd471ae-4ef4-436c-b476-b98cc8848cea",
      "name": "Trigger: Receive Idea via Telegram",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        1040,
        512
      ],
      "webhookId": "fc44769c-3fa7-4a73-907f-07daa5cc8d6e",
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "name": "={{ $('Trigger: Receive Idea via Telegram').item.json.message.photo[2].file_unique_id }}",
        "driveId": {
          "__rl": true,
          "mode": "id",
          "value": "="
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "="
        },
        "options": {}
      },
      "id": "00e2b4cb-7184-4068-a752-df588e48940d",
      "name": "Google Drive: Upload Image",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        1600,
        512
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "jsCode": "const text = $('Trigger: Receive Idea via Telegram').first().json.message.caption;\nconst parts = text.split(';').map(part => part.trim());\nreturn {\nimagePrompt: parts[0],\nvideoPrompt: parts[1]\n};\n"
      },
      "id": "51fa2428-83e5-469e-9fbd-e6b74e7fdf35",
      "name": "Parse Idea Into Prompts",
      "type": "n8n-nodes-base.code",
      "position": [
        2032,
        512
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Your task is to create an image prompt following the system guidelines.  \nEnsure that the reference image is represented as **accurately as possible**, including all text elements.  \n\nUse the following inputs:  \n\n- **User’s description:**  \n{{ $json.imagePrompt }}\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a helpful assistantROLE: UGC Image Prompt Builder  \n\nGOAL:  \nGenerate one concise, natural, and realistic image prompt (≤120 words) from a given product or reference image. The prompt must simulate authentic UGC (user-generated content) photography.  \n\nRULES:  \nYou must always create a professional background for the product image. You must never return the image with a plain white or empty background. The background must always enhance and highlight the product in the photo.\n\n- Always output **one JSON object only** with the key:  \n  - `image_prompt`: (string with full description)  \n- Do **not** add commentary, metadata, or extra keys. JSON only.  \n- User node think to be creative\n\nSTYLE GUIDELINES:  \n- Tone: casual, unstaged, lifelike, handheld snapshot.  \n- Camera cues: include at least 2–3 (e.g., phone snapshot, handheld framing, off-center composition, natural indoor light, soft shadows, slight motion blur, auto exposure, unpolished look, mild grain).  \n- Realism: embrace imperfections (wrinkles, stray hairs, skin texture, clutter, smudges).  \n- Packaging/Text: preserve exactly as visible. Never invent claims, numbers, or badges.  \n- Diversity: if people appear but are unspecified, vary gender/ethnicity naturally; default age range = 21–38.  \n- Setting: default to real-world everyday spaces (home, street, store, gym, office).  \n- User node think to be creative\nYou must always create a professional background for the product image. You must never return the image with a plain white or empty background. The background must always enhance and highlight the product in the photo.\n\nSAFETY:  \n- No copyrighted character names.  \n- No dialogue or scripts. Only describe scenes.  \n\nOUTPUT CONTRACT:  \n- JSON only, no prose outside.  \n- Max 120 words in `image_prompt`.  \n- Must cover: subject, action, mood, setting, background, style/camera, colors, and text accuracy.  \n\nCHECKLIST BEFORE OUTPUT:  \n- Natural handheld tone?  \n- At least 2 camera cues included?  \n- Product text preserved exactly?  \n- Only JSON returned?  \n\n---  \n\n### Example  \n\nGood Example :  \n```json\n{ \"image_prompt\": \"a young adult casually holding a skincare tube near a bathroom mirror; action: dabs small amount on the back of the hand; mood: easy morning; setting: small apartment bathroom with towel on rack and toothbrush cup; background: professional-looking bathroom scene that enhances the product, never plain white or empty, always styled to highlight the tube naturally; style/camera: phone snapshot, handheld framing, off-center composition, natural window light, slight motion blur, mild grain; colors: soft whites and mint label; text accuracy: keep every word on the tube exactly as visible, no added claims\" }\n"
        }
      },
      "id": "5c8efdcc-c697-412e-be62-1f31528075e5",
      "name": "Generate Image Prompt",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        2432,
        512
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"image_prompt\": \"string\"\n}"
      },
      "id": "749d97b2-bdc0-4b0d-a608-3860f8bc19a0",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        2688,
        736
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {},
      "id": "49ebe3b4-175c-480b-a78b-32a86b772c11",
      "name": "Think",
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "position": [
        2528,
        736
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "o4-mini",
          "cachedResultName": "o4-mini"
        },
        "options": {}
      },
      "id": "6c14c0c2-425f-43a4-ac53-9a1110e24aef",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        2352,
        736
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/nano-banana/edit",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\t\"prompt\": \"{{ $json[\"output.image_prompt\"].replace(/\\\"/g, '\\\\\\\"').replace(/\\n/g, '\\\\n') }}\",\n\"image_urls\": [\"{{ $('Google Drive: Upload Image').item.json.webContentLink }}\"]\n\n} ",
        "options": {}
      },
      "id": "2b8bb026-a1a0-4f6a-952b-c66458be98ca",
      "name": "NanoBanana: Create Image",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3184,
        336
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "content": "# 4️⃣  → Step 4 — Merge videos into a final ad",
        "height": 432,
        "width": 1884,
        "color": 7
      },
      "id": "83dfe606-fca2-43a9-ad65-1c552899c739",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2848,
        896
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "={{ $json['URL FINAL VIDEO'] }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "c35fcc2f-d3d1-4d83-8efb-6e8cf21d82fa",
      "name": "Check Merge Status",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        4304,
        1008
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "amount": 2
      },
      "id": "37ef1072-100c-469e-a26d-22843dc2f657",
      "name": "Wait: Merge Process",
      "type": "n8n-nodes-base.wait",
      "position": [
        3776,
        1008
      ],
      "webhookId": "6b3ea255-aabf-4eb4-9bc8-25f4272270ba",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "name": "={{ $('Trigger: Receive Idea via Telegram').first().json.message.photo[2].file_unique_id }}",
        "driveId": {
          "__rl": true,
          "mode": "id",
          "value": "="
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "="
        },
        "options": {}
      },
      "id": "55d047f8-bb1c-4b79-ad10-9edb049f5807",
      "name": "Upload Final Video to Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        4560,
        1008
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "content": "# 5️⃣  → Step 5 — Publish the final ad to multiple social platforms with Blotato",
        "height": 608,
        "width": 3804
      },
      "id": "6fb4ed26-d430-493a-a5ef-ecf993d7dca5",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        928,
        1360
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "="
        },
        "sheetName": {
          "__rl": true,
          "mode": "id",
          "value": "="
        },
        "options": {}
      },
      "id": "f6490202-896a-4a21-9689-ed0189da6863",
      "name": "Read Brand Settings",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1040,
        1584
      ],
      "typeVersion": 4.7
    },
    {
      "parameters": {
        "jsCode": "const allRows = $input.all();\nreturn [{\njson: {\nproductName: allRows[0].json.col_2,\nproductCategory: allRows[1].json.col_2,\nmainOffer: allRows[2].json.col_2,\nkeyFeature1: allRows[3].json.col_2,\nkeyFeature2: allRows[4].json.col_2,\nwebsiteURL: allRows[5].json.col_2\n}\n}];"
      },
      "id": "8c3750e4-333e-4900-aa8e-97c6b5ce06b9",
      "name": "Extract Brand Info",
      "type": "n8n-nodes-base.code",
      "position": [
        1280,
        1584
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "=You are an expert ad copywriter for social media campaigns.\nYour task: Create compelling ad copy following this exact\nstructure:\n🚨 [Attention-grabbing headline with product benefit]\n✔ [Primary offer/benefit]\n✔ [Key product feature/quality]\n✔ [Trust/credibility element]\n[Call to action] → [website/link]\n# Input Variables:\nProduct Name: {{ $json.productName }}\nProduct Category: {{ $json.productCategory }}\nMain Offer: {{ $json.mainOffer }}\nKey Feature 1: {{ $json.keyFeature1 }}\nKey Feature 2: {{ $json.keyFeature2 }}\nWebsite URL: {{ $json.websiteURL }}\nRules:\n- Keep headline under 35 characters\n- Each checkmark line under 40 characters\n- Use power words that create urgency\n- Include specific product benefits, not generic claims\n- CTA must be action-oriented (Shop Now, Get Yours, Claim Offer,\netc.)\n- Output ONLY the ad copy text, no explanations\n- No quotes around the text\n- Maintain the emoji structure exactly as shown"
            }
          ]
        },
        "options": {}
      },
      "id": "660b172c-fe62-40ed-84c9-8b0c2aa7739d",
      "name": "Message a model",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        1680,
        1584
      ],
      "typeVersion": 1.8
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "="
        },
        "sheetName": {
          "__rl": true,
          "mode": "id",
          "value": "="
        },
        "columns": {
          "value": {
            "ADS TEXT": "={{ $json.message.content }}",
            "ID IMAGE": "={{ $('Trigger: Receive Idea via Telegram').first().json.message.photo[2].file_unique_id }}"
          },
          "schema": [
            {
              "id": "ID IMAGE",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "ID IMAGE",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "URL IMAGE SOURCE",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "URL IMAGE SOURCE",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "URL IMAGE NANOBANANA",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "URL IMAGE NANOBANANA",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "URL IMAGE SENDREAM",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "URL IMAGE SENDREAM",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "URL IMAGE CHATGPT",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "URL IMAGE CHATGPT",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "URL VIDEO 1",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "URL VIDEO 1",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "URL VIDEO 2",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "URL VIDEO 2",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "URL VIDEO 3",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "URL VIDEO 3",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "URL FINAL VIDEO",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "URL FINAL VIDEO",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "ADS TEXT",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "ADS TEXT",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "STATUS",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "STATUS",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "ID IMAGE"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "f12ad44b-3078-459d-8a23-b664889cc636",
      "name": "Save Ad Data to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        2208,
        1584
      ],
      "typeVersion": 4.7
    },
    {
      "parameters": {
        "chatId": "={{ $('Trigger: Receive Idea via Telegram').first().json.message.chat.id }}",
        "text": "=Url VIDEO :   {{ $('Update URL Final video').first().json['URL FINAL VIDEO'] }}",
        "additionalFields": {}
      },
      "id": "f9b4f876-3ce8-4896-9be5-88b76abf7a4b",
      "name": "Send Video URL via Telegram",
      "type": "n8n-nodes-base.telegram",
      "position": [
        2448,
        1584
      ],
      "webhookId": "58e6fe93-339f-4ca8-aa15-874ac06a55c6",
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "operation": "sendVideo",
        "chatId": "={{ $('Trigger: Receive Idea via Telegram').first().json.message.chat.id }}",
        "file": "={{ $('Update URL Final video').first().json['URL FINAL VIDEO'] }}",
        "additionalFields": {}
      },
      "id": "e7452627-f5ea-4083-964b-16832cf53f11",
      "name": "Send a video",
      "type": "n8n-nodes-base.telegram",
      "position": [
        2672,
        1584
      ],
      "webhookId": "5eba0d00-2919-4342-9cc2-62b3b44ef2e9",
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "content": "#Creating thr prodi+",
        "height": 624,
        "width": 1884,
        "color": 3
      },
      "id": "6d574d77-e737-46b2-a79c-02518d8a2a9e",
      "name": "Sticky Note11",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2848,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Create a BEFORE/AFTER transformation video prompt using the provided idea.\n\n**Inputs**\n\n- idea : {{ $('Parse Idea Into Prompts').first().json.videoPrompt }}\n\n**Rules**\n- The style must be cinematic, visually striking, and optimized for vertical 9:16 TikTok content.\n- Explicitly include: BEFORE scene, AFTER scene, TRANSITION style, CAMERA movement, LIGHTING, COLOR PALETTE, and MOOD.\n- Default model: `veo3_fast` (unless otherwise specified).\n- Output only one valid JSON object.\n\n- The JSON object must contain the following keys: title, final_prompt, final_prompt_2, final_prompt_3.\n\n- Create 3 different scenarios for the same product/topic.\n\n- Place each scenario in a separate key:\nfinal_prompt → Scenario 1\nfinal_prompt_2 → Scenario 2\nfinal_prompt_3 → Scenario 3\n\n- Use the Think tool to review your output\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=system_prompt:\n  ## SYSTEM PROMPT: Structured Safe Video Prompt Generator\n  A - Ask:\n    Generate a structured short video prompt for VEO 3 cinematic generation, strictly based on the master schema provided in: {{ $json.json_master }}.\n    Write 3 scenarios for 3 short videos (VEO 3), each lasting about 8 seconds.\n\nThe first scenario should highlight a visual \"problem atmosphere\" (e.g., dull colors, lack of energy, flat lighting) that sets the stage for the product to improve the scene.\n\nThe second scenario should show a \"visual enhancement\" instead of a physical transformation (e.g., scene becomes brighter, colors more vibrant, light reflections intensify, foam glows more under sunlight).\n\nThe third scenario should show another \"creative enhancement\" with a different cinematic angle (e.g., abstract visuals like water, foam, or product bottle under glowing light that shifts into a fresh, uplifting ambiance).\n\n- The final result must be a JSON object with exactly four top-level keys:\n\ntitle → summarizes the overall concept.\nfinal_prompt → contains Scenario 1.\nfinal_prompt_2 → contains Scenario 2.\nfinal_prompt_3 → contains Scenario 3.\n\n  G - Guidance:\n    role: Creative Director\n    output_count: 1\n    character_limit: None\n    constraints:\n      - The output must be valid JSON.\n      - The `title` field should contain a short, descriptive and unique title (max 15 words).\n      - The `final_prompt`, `final_prompt_2`, and `final_prompt_3` fields must contain a **single-line JSON string** that follows the exact structure of {{ $json.json_master }} with all fields preserved.\n      - All final prompts must clearly describe: SCENE, VISUAL ENHANCEMENT (instead of \"before/after\"), TRANSITION, CAMERA, LIGHTING, PALETTE, STYLE, and SOUND.\n      - Do not include people’s physical traits or body/hair transformations.\n      - Avoid sensitive or restricted terms (e.g., frizzy, smooth, body, face, before/after physical changes).\n      - The focus must be on cinematic visuals, light, environment, abstract product representation, and positive ambiance.\n      - Do not include any explanations, markdown, or extra text — only the JSON object.\n      - Escape all inner quotes in the `final_prompt` string so it is valid as a stringified JSON inside another JSON.\n    tool_usage:\n      - Ensure consistent alignment across all fields (camera, lighting, transition, palette, etc.).\n      - Maintain full structure even for optional fields (use \"none\", \"\", or [] as needed).\n\n  N - Notation:\n    format: JSON\n    expected_output:\n      {\n        \"title\": \"A unique short title for the enhancement concept\",\n        \"final_prompt\": \"Scenario 1 description here...\",\n        \"final_prompt_2\": \"Scenario 2 description here...\",\n        \"final_prompt_3\": \"Scenario 3 description here...\"\n      }\n"
        }
      },
      "id": "de4624ec-4fd8-4456-97ec-ddcb1d7d476d",
      "name": "AI Agent: Generate Video Script",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1248,
        976
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/veo/generate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "=\n\n{\n  \"prompt\": {{ $json.prompt }},\n  \"model\": \"{{ $json.model }}\",\n  \"imageUrls\": [ \"{{ $json.image_url }}\" ],\n  \"aspectRatio\":  \"{{ $json.aspectRatio }}\"\n}\n",
        "options": {}
      },
      "id": "0352c6fb-0614-4266-a6a9-78fd88f1e742",
      "name": "Generate Video with VEO3",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2240,
        1120
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "minutes"
      },
      "id": "006fe9e9-b076-4345-aec4-27fcf1a7f30f",
      "name": "Wait for VEO3 Rendering",
      "type": "n8n-nodes-base.wait",
      "position": [
        2480,
        1120
      ],
      "webhookId": "864a93ce-5f41-4fc9-a694-6681bc749cb7",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/veo/record-info",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $('Generate Video with VEO3').item.json.data.taskId }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b5089618-2b8f-4611-a7cf-78ec9e1ed077",
      "name": "Download Video from VEO3",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2672,
        1120
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "jsCode": "const structuredPrompt = $input.first().json.final_prompt;\nimage = $input.first().json.image_url;\nreturn {\n  json: {\n    prompt: JSON.stringify(structuredPrompt), // this escapes it correctly!\n    model: \"veo3_fast\",\n    image_url : image,\n    aspectRatio: \"9:16\"\n  }\n}"
      },
      "id": "bb7a3989-1ffe-46c6-a2e9-4cba9a5fb47f",
      "name": "Format Prompt",
      "type": "n8n-nodes-base.code",
      "position": [
        2016,
        1120
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "content": "# 3️⃣  → Step 3 — Produce video ads with Veo 3",
        "height": 432,
        "width": 1920,
        "color": 7
      },
      "id": "143c8983-02c7-4001-8bdf-9d69cbc77169",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        928,
        896
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "id": "e4201ff8-435d-4509-baca-9cf9ba796453",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        1184,
        1200
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {},
      "id": "bfa98213-7d12-422b-9fa9-e9f8c4e6eb36",
      "name": "Think1",
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "position": [
        1344,
        1200
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"title\": \"string\",\n  \"final_prompt\": \"string\",\n  \"final_prompt_2\": \"string\",\n  \"final_prompt_3\": \"string\"\n}\n"
      },
      "id": "acd37b48-c17d-4f9e-82ed-233b04036eee",
      "name": "Structured Output Parser1",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        1488,
        1200
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "jsCode": "// On récupère les prompts depuis l'agent IA\nconst prompts = items[0].json.output;\n\n// On récupère les images depuis le node \"Save Ad Data to Google Sheets1\"\nconst urls = $('Google Sheets – save image URLs').first().json;\n\nreturn [\n  { \n    json: { \n      final_prompt: prompts.final_prompt,\n      image_url: urls['URL IMAGE NANOBANANA']\n    } \n  },\n  { \n    json: { \n      final_prompt: prompts.final_prompt_2,\n      image_url: urls['URL IMAGE SENDREAM']\n    } \n  },\n  { \n    json: { \n      final_prompt: prompts.final_prompt_3,\n      image_url: urls['URL IMAGE CHATGPT']\n    } \n  }\n];\n"
      },
      "id": "07dcc2c9-28ee-449a-919d-dbd3dc5196e7",
      "name": "3 prompts",
      "type": "n8n-nodes-base.code",
      "position": [
        1536,
        976
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "upload"
      },
      "id": "5364e300-b999-4429-8b99-c1d40f48c28f",
      "name": "Upload Video to BLOTATO",
      "type": "@blotato/n8n-nodes-preview-blotato.blotato",
      "position": [
        2912,
        1584
      ],
      "typeVersion": 2,
      "credentials": {}
    },
    {
      "parameters": {
        "resource": "post",
        "operation": "create"
      },
      "id": "743afd32-6ebf-4e70-b911-2bbdba7d1ecf",
      "name": "Youtube",
      "type": "@blotato/n8n-nodes-preview-blotato.blotato",
      "position": [
        3968,
        1568
      ],
      "typeVersion": 2,
      "credentials": {}
    },
    {
      "parameters": {
        "resource": "post",
        "operation": "create"
      },
      "id": "035b6c10-43ac-4aea-a2ff-82a3ab0bcfa4",
      "name": "Tiktok",
      "type": "@blotato/n8n-nodes-preview-blotato.blotato",
      "position": [
        3600,
        1392
      ],
      "typeVersion": 2,
      "credentials": {}
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "="
        },
        "sheetName": {
          "__rl": true,
          "mode": "id",
          "value": "="
        },
        "columns": {
          "value": {
            "STATUS": "DONE",
            "ID IMAGE": "={{ $('Trigger: Receive Idea via Telegram').first().json.message.photo[2].file_unique_id }}"
          },
          "schema": [
            {
              "id": "ID IMAGE",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "ID IMAGE",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "URL IMAGE SOURCE",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "URL IMAGE SOURCE",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "URL IMAGE NANOBANANA",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "URL IMAGE NANOBANANA",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "URL IMAGE SENDREAM",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "URL IMAGE SENDREAM",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "URL IMAGE CHATGPT",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "URL IMAGE CHATGPT",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "URL VIDEO 1",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "URL VIDEO 1",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "URL VIDEO 2",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "URL VIDEO 2",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "URL VIDEO 3",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "URL VIDEO 3",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "URL FINAL VIDEO",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "URL FINAL VIDEO",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "ADS TEXT",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "ADS TEXT",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "STATUS",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "STATUS",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "ID IMAGE"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "d2401532-aa7b-45b7-9dc4-2d5f51a32599",
      "name": "Update Status to \"DONE\"",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        4544,
        1568
      ],
      "typeVersion": 4.5
    },
    {
      "parameters": {
        "resource": "post",
        "operation": "create"
      },
      "id": "cc3d40a1-1123-4faf-8df9-2ae5448ed53a",
      "name": "Linkedin",
      "type": "@blotato/n8n-nodes-preview-blotato.blotato",
      "position": [
        3792,
        1392
      ],
      "typeVersion": 2,
      "credentials": {}
    },
    {
      "parameters": {
        "resource": "post",
        "operation": "create"
      },
      "id": "0a3810b6-c21f-4077-954b-79aab2e7985e",
      "name": "Facebook",
      "type": "@blotato/n8n-nodes-preview-blotato.blotato",
      "position": [
        3968,
        1392
      ],
      "typeVersion": 2,
      "credentials": {}
    },
    {
      "parameters": {
        "resource": "post",
        "operation": "create"
      },
      "id": "7ec08451-6330-400e-87a2-ab9a2f0706ab",
      "name": "Instagram",
      "type": "@blotato/n8n-nodes-preview-blotato.blotato",
      "position": [
        3600,
        1568
      ],
      "typeVersion": 2,
      "credentials": {}
    },
    {
      "parameters": {
        "resource": "post",
        "operation": "create"
      },
      "id": "0bc8307e-3f4a-432a-8667-eb998ab55042",
      "name": "Threads",
      "type": "@blotato/n8n-nodes-preview-blotato.blotato",
      "position": [
        3600,
        1776
      ],
      "typeVersion": 2,
      "credentials": {}
    },
    {
      "parameters": {
        "resource": "post",
        "operation": "create"
      },
      "id": "d039a2f5-5177-4cce-9018-6a37ab54fa19",
      "name": "Bluesky",
      "type": "@blotato/n8n-nodes-preview-blotato.blotato",
      "position": [
        3792,
        1776
      ],
      "typeVersion": 2,
      "credentials": {}
    },
    {
      "parameters": {
        "resource": "post",
        "operation": "create"
      },
      "id": "a04336f9-f2e6-4fbb-a082-9d232a08aa52",
      "name": "Pinterest",
      "type": "@blotato/n8n-nodes-preview-blotato.blotato",
      "position": [
        3968,
        1776
      ],
      "typeVersion": 2,
      "credentials": {}
    },
    {
      "parameters": {
        "resource": "post",
        "operation": "create"
      },
      "id": "fb93e061-c5a9-4dfe-9ca2-ef8a3c6ce9f3",
      "name": "Twitter (X)",
      "type": "@blotato/n8n-nodes-preview-blotato.blotato",
      "position": [
        3792,
        1568
      ],
      "typeVersion": 2,
      "credentials": {}
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "numberInputs": 9
      },
      "id": "77b73727-3d32-41d6-b0ca-03b2ccaca631",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "position": [
        4304,
        1456
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"model\": \"bytedance/seedream-v4-text-to-image\",\n  \"input\": {\n    \"prompt\": \"{{ $('Parse Idea Into Prompts').item.json.videoPrompt }}\",\n    \"image_size\": \"portrait_16_9\",\n    \"image_resolution\": \"1K\"\n  }\n}\n",
        "options": {}
      },
      "id": "181c4741-92b4-4884-bffd-c1dbddca2477",
      "name": "Seedream: Generate image from texte",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3184,
        512
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "url": "=https://api.kie.ai/api/v1/jobs/recordInfo?taskId={{ $json.data.taskId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "a2c358bc-ce2d-4f48-a444-8f2f24a3abbe",
      "name": "Download image from Seedream",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3808,
        512
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/gpt4o-image/generate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"prompt\": \"{{ $('Parse Idea Into Prompts').item.json.videoPrompt }}\",\n  \"size\": \"2:3\"\n}\n",
        "options": {}
      },
      "id": "b8637494-856c-46f2-9d3c-1df9593d02de",
      "name": "Generate 4o Image（GPT IMAG 1）",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3184,
        688
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cc2e0500-57b1-4615-82cb-1c950e5f2ec4",
              "name": "json_master",
              "type": "string",
              "value": "={\n  \"description\": \"Brief narrative description of the scene, focusing on key visual storytelling and product transformation.\",\n  \"style\": \"cinematic | photorealistic | stylized | gritty | elegant\",\n  \"camera\": {\n    \"type\": \"fixed | dolly | Steadicam | crane combo\",\n    \"movement\": \"describe any camera moves like slow push-in, pan, orbit\",\n    \"lens\": \"optional lens type or focal length for cinematic effect\"\n  },\n  \"lighting\": {\n    \"type\": \"natural | dramatic | high-contrast\",\n    \"sources\": \"key lighting sources (sunset, halogen, ambient glow...)\",\n    \"FX\": \"optional VFX elements like fog, reflections, flares\"\n  },\n  \"environment\": {\n    \"location\": \"describe location or room (kitchen, desert, basketball court...)\",\n    \"set_pieces\": [\n      \"list of key background or prop elements\",\n      \"e.g. hardwood floors, chain-link fence, velvet surface\"\n    ],\n    \"mood\": \"describe the ambient atmosphere (moody, clean, epic...)\"\n  },\n  \"elements\": [\n    \"main physical items involved (product box, accessories, vehicles...)\",\n    \"include brand visibility (logos, packaging, texture...)\"\n  ],\n  \"subject\": {\n    \"character\": {\n      \"description\": \"optional – physical description, outfit\",\n      \"pose\": \"optional – position or gesture\",\n      \"lip_sync_line\": \"optional – spoken line if there’s a voiceover\"\n    },\n    \"product\": {\n      \"brand\": \"Brand name\",\n      \"model\": \"Product model or name\",\n      \"action\": \"description of product transformation or assembly\"\n    }\n  },\n  \"motion\": {\n    \"type\": \"e.g. transformation, explosion, vortex\",\n    \"details\": \"step-by-step visual flow of how elements move or evolve\"\n  },\n  \"VFX\": {\n    \"transformation\": \"optional – describe style (neon trails, motion blur...)\",\n    \"impact\": \"optional – e.g. shockwave, glow, distortion\",\n    \"particles\": \"optional – embers, sparks, thread strands...\",\n    \"environment\": \"optional – VFX affecting the scene (ripples, wind...)\"\n  },\n  \"audio\": {\n    \"music\": \"optional – cinematic score, trap beat, ambient tone\",\n    \"sfx\": [\n      \"list of sound effects (zip, pop, woosh...)\"\n    ],\n    \"ambience\": \"optional – background soundscape (traffic, wind...)\",\n    \"voiceover\": {\n      \"delivery\": \"tone and style (confident, whisper, deep...)\",\n      \"line\": \"text spoken if applicable\"\n    }\n  },\n  \"ending\": \"Final shot description – what is seen or felt at the end (freeze frame, logo pulse, glow...)\",\n  \"text\": \"none | overlay | tagline | logo pulse at end only\",\n  \"format\": \"16:9 | 4k | vertical\",\n  \"keywords\": [\n    \"brand\",\n    \"scene style\",\n    \"motion type\",\n    \"camera style\",\n    \"sound mood\",\n    \"target theme\"\n  ]\n}\n"
            },
            {
              "id": "3c6ea609-e426-46d3-8617-2e289a833a64",
              "name": "model",
              "type": "string",
              "value": "veo3_fast"
            },
            {
              "id": "f15acf81-840c-4e09-9ff3-1647b634875f",
              "name": "aspectRatio",
              "type": "string",
              "value": "9:16"
            }
          ]
        },
        "options": {}
      },
      "id": "8b6583ec-e141-4314-a83e-23ced0d3d504",
      "name": "Set Master Prompt",
      "type": "n8n-nodes-base.set",
      "position": [
        1040,
        976
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://fal.run/fal-ai/ffmpeg-api/merge-videos",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"video_urls\": [\n    \"{{ $json['URL VIDEO 1'] }}\",\n    \"{{ $json['URL VIDEO 2'] }}\",\n    \"{{ $json['URL VIDEO 3'] }}\"\n  ],\n  \"resolution\": \"portrait_16_9\",\n  \"output\": {\n    \"format\": \"mp4\"\n  }\n}\n",
        "options": {}
      },
      "id": "f9e46614-a5d5-4520-9522-8a03674d226d",
      "name": "Merge 3 Videos",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3488,
        1008
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "606e323e-6e32-480e-855f-72baad361c54",
      "name": "Loop Over Items - Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        1792,
        1024
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "="
        },
        "sheetName": {
          "__rl": true,
          "mode": "id",
          "value": "="
        },
        "columns": {
          "value": {
            "ID IMAGE": "={{ $('Google Sheets – save image URLs').first().json['ID IMAGE'] }}",
            "URL VIDEO 1": "={{ $json.data[0].data.response.resultUrls[0] }}",
            "URL VIDEO 2": "={{ $json.data[1].data.response.resultUrls[0] }}",
            "URL VIDEO 3": "={{ $json.data[2].data.response.resultUrls[0] }}"
          },
          "schema": [
            {
              "id": "ID IMAGE",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "ID IMAGE",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "URL IMAGE SOURCE",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "URL IMAGE SOURCE",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "URL IMAGE NANOBANANA",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "URL IMAGE NANOBANANA",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "URL IMAGE SENDREAM",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "URL IMAGE SENDREAM",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "URL IMAGE CHATGPT",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "URL IMAGE CHATGPT",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "URL VIDEO 1",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "URL VIDEO 1",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "URL VIDEO 2",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "URL VIDEO 2",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "URL VIDEO 3",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "URL VIDEO 3",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "URL FINAL VIDEO",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "URL FINAL VIDEO",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "ADS TEXT",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "ADS TEXT",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "STATUS",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "STATUS",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "type": "number",
              "display": true,
              "removed": true,
              "readOnly": true,
              "required": false,
              "displayName": "row_number",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "ID IMAGE"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "729b59d4-fa07-4fc9-b6cc-64fca41b22ef",
      "name": "Update row in sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        3216,
        1008
      ],
      "typeVersion": 4.7
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.image_prompt",
        "options": {}
      },
      "id": "322f6e01-5427-480c-b781-7e81f0786674",
      "name": "Split out – iterate image_prompt",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        2896,
        512
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "amount": 4,
        "unit": "minutes"
      },
      "id": "9cde12f3-ef41-4e9f-a8cc-7ebc6d5a5666",
      "name": "Wait – NanoBanana job",
      "type": "n8n-nodes-base.wait",
      "position": [
        3472,
        336
      ],
      "webhookId": "15bf99dd-2a0e-4547-9ee1-25ac8e743585",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "="
        },
        "sheetName": {
          "__rl": true,
          "mode": "id",
          "value": "="
        },
        "columns": {
          "value": {
            "STATUS": "VIDEO CREATED",
            "ID IMAGE": "={{ $('Google Sheets – save image URLs').first().json['ID IMAGE'] }}",
            "URL FINAL VIDEO": "={{ $json.video.url }}"
          },
          "schema": [
            {
              "id": "ID IMAGE",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "ID IMAGE",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "URL IMAGE SOURCE",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "URL IMAGE SOURCE",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "URL IMAGE NANOBANANA",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "URL IMAGE NANOBANANA",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "URL IMAGE SENDREAM",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "URL IMAGE SENDREAM",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "URL IMAGE CHATGPT",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "URL IMAGE CHATGPT",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "URL VIDEO 1",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "URL VIDEO 1",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "URL VIDEO 2",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "URL VIDEO 2",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "URL VIDEO 3",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "URL VIDEO 3",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "URL FINAL VIDEO",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "URL FINAL VIDEO",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "ADS TEXT",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "ADS TEXT",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "STATUS",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "STATUS",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "type": "number",
              "display": true,
              "removed": true,
              "readOnly": true,
              "required": false,
              "displayName": "row_number",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "ID IMAGE"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "c7cc7666-4e3c-4c13-b3df-18e6410a445d",
      "name": "Update URL Final video",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        4048,
        1008
      ],
      "typeVersion": 4.7
    },
    {
      "parameters": {
        "url": "={{ $json.response_url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "9d6ed0e4-eafc-4569-b774-1a3f62261438",
      "name": "NanoBanana – fetch edited image",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3808,
        336
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "amount": 4,
        "unit": "minutes"
      },
      "id": "a0c3642a-76fb-4b20-bd3b-4da0d191e5c0",
      "name": "Wait – image rendering",
      "type": "n8n-nodes-base.wait",
      "position": [
        3472,
        512
      ],
      "webhookId": "755fd36b-b4aa-45f2-9998-d7492d8defd6",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "="
        },
        "sheetName": {
          "__rl": true,
          "mode": "id",
          "value": "="
        },
        "columns": {
          "value": {
            "STATUS": "CREATE IMAGES",
            "ID IMAGE": "={{ $('Trigger: Receive Idea via Telegram').first().json.message.photo[2].file_unique_id }}",
            "URL IMAGE SOURCE": "={{ $('Google Drive: Upload Image').first().json.webContentLink }}",
            "URL IMAGE CHATGPT": "={{ $('ChatGPT Image – fetch generated image').first().json.data.response.resultUrls[0] }}",
            "URL IMAGE SENDREAM": "={{ $('Set – select Seedream image URL').first().json.url_video }}",
            "URL IMAGE NANOBANANA": "={{ $('NanoBanana – fetch edited image').item.json.images[0].url }}"
          },
          "schema": [
            {
              "id": "ID IMAGE",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "ID IMAGE",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "URL IMAGE SOURCE",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "URL IMAGE SOURCE",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "URL IMAGE NANOBANANA",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "URL IMAGE NANOBANANA",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "URL IMAGE SENDREAM",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "URL IMAGE SENDREAM",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "URL IMAGE CHATGPT",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "URL IMAGE CHATGPT",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "URL VIDEO 1",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "URL VIDEO 1",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "URL VIDEO 2",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "URL VIDEO 2",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "URL VIDEO 3",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "URL VIDEO 3",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "URL FINAL VIDEO",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "URL FINAL VIDEO",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "ADS TEXT",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "ADS TEXT",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "STATUS",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "STATUS",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "24d6658d-0c8d-4e36-8266-12453d89790b",
      "name": "Google Sheets – save image URLs",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        4560,
        512
      ],
      "typeVersion": 4.7
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "numberInputs": 3
      },
      "id": "f648da56-7695-4d88-9bfd-977c6639fc53",
      "name": "Merge – collect image sources (3 providers)",
      "type": "n8n-nodes-base.merge",
      "position": [
        4352,
        496
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "url": "=https://api.kie.ai/api/v1/gpt4o-image/record-info?taskId={{ $json.data.taskId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "cc07a757-53dc-43c1-9ed3-7aecbe501528",
      "name": "ChatGPT Image – fetch generated image",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3808,
        688
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "04c7d6bf-430a-4423-bd36-d76f8a6ff1c9",
              "name": "url_video",
              "type": "string",
              "value": "={{ ($json.data.resultJson.match(/https:\\/\\/tempfile\\.aiquickdraw\\.com\\/r\\/[^\\s\"']+\\.(?:png|jpg|jpeg|mp4|webm)/i)?.[0] || '').trim() }}\n\n\n\n"
            }
          ]
        },
        "options": {}
      },
      "id": "5e77cd4f-7f23-4559-b4ef-08a8d90cdfcc",
      "name": "Set – select Seedream image URL",
      "type": "n8n-nodes-base.set",
      "position": [
        4064,
        512
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "amount": 4,
        "unit": "minutes"
      },
      "id": "139b27b1-2000-429e-92eb-cdabfe4b7e04",
      "name": "Wait – image rendering II",
      "type": "n8n-nodes-base.wait",
      "position": [
        3472,
        688
      ],
      "webhookId": "755fd36b-b4aa-45f2-9998-d7492d8defd6",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "b358b4a3-9e47-43f7-a416-c91e75dd85bc",
      "name": "Aggregate – gather 3 video URLs",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        2944,
        1008
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "Think": {
      "ai_tool": [
        [
          {
            "node": "Generate Image Prompt",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Update Status to \"DONE\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Think1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent: Generate Video Script",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tiktok": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bluesky": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 7
          }
        ]
      ]
    },
    "Threads": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "Youtube": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Facebook": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Linkedin": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "3 prompts": {
      "main": [
        [
          {
            "node": "Loop Over Items - Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instagram": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Pinterest": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 8
          }
        ]
      ]
    },
    "Twitter (X)": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Send a video": {
      "main": [
        [
          {
            "node": "Upload Video to BLOTATO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Prompt": {
      "main": [
        [
          {
            "node": "Generate Video with VEO3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge 3 Videos": {
      "main": [
        [
          {
            "node": "Wait: Merge Process",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Save Ad Data to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Image Prompt",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Set Master Prompt": {
      "main": [
        [
          {
            "node": "AI Agent: Generate Video Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Merge Status": {
      "main": [
        [
          {
            "node": "Upload Final Video to Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Brand Info": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent: Generate Video Script",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Read Brand Settings": {
      "main": [
        [
          {
            "node": "Extract Brand Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Merge 3 Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait: Merge Process": {
      "main": [
        [
          {
            "node": "Update URL Final video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image Prompt": {
      "main": [
        [
          {
            "node": "Split out – iterate image_prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update URL Final video": {
      "main": [
        [
          {
            "node": "Check Merge Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Idea Into Prompts": {
      "main": [
        [
          {
            "node": "Generate Image Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Video to BLOTATO": {
      "main": [
        [
          {
            "node": "Tiktok",
            "type": "main",
            "index": 0
          },
          {
            "node": "Linkedin",
            "type": "main",
            "index": 0
          },
          {
            "node": "Facebook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Instagram",
            "type": "main",
            "index": 0
          },
          {
            "node": "Twitter (X)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Youtube",
            "type": "main",
            "index": 0
          },
          {
            "node": "Threads",
            "type": "main",
            "index": 0
          },
          {
            "node": "Bluesky",
            "type": "main",
            "index": 0
          },
          {
            "node": "Pinterest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for VEO3 Rendering": {
      "main": [
        [
          {
            "node": "Download Video from VEO3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait – NanoBanana job": {
      "main": [
        [
          {
            "node": "NanoBanana – fetch edited image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Video from VEO3": {
      "main": [
        [
          {
            "node": "Loop Over Items - Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Video with VEO3": {
      "main": [
        [
          {
            "node": "Wait for VEO3 Rendering",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NanoBanana: Create Image": {
      "main": [
        [
          {
            "node": "Wait – NanoBanana job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Generate Image Prompt",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Telegram: Get Image File": {
      "main": [
        [
          {
            "node": "Google Drive: Upload Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait – image rendering": {
      "main": [
        [
          {
            "node": "Download image from Seedream",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent: Generate Video Script",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive: Upload Image": {
      "main": [
        [
          {
            "node": "Parse Idea Into Prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Video URL via Telegram": {
      "main": [
        [
          {
            "node": "Send a video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait – image rendering II": {
      "main": [
        [
          {
            "node": "ChatGPT Image – fetch generated image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download image from Seedream": {
      "main": [
        [
          {
            "node": "Set – select Seedream image URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Ad Data to Google Sheets": {
      "main": [
        [
          {
            "node": "Send Video URL via Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent: Generate Video Script": {
      "main": [
        [
          {
            "node": "3 prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate – gather 3 video URLs": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate 4o Image（GPT IMAG 1）": {
      "main": [
        [
          {
            "node": "Wait – image rendering II",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets – save image URLs": {
      "main": [
        [
          {
            "node": "Set Master Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NanoBanana – fetch edited image": {
      "main": [
        [
          {
            "node": "Merge – collect image sources (3 providers)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set – select Seedream image URL": {
      "main": [
        [
          {
            "node": "Merge – collect image sources (3 providers)",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Loop Over Items - Split In Batches": {
      "main": [
        [
          {
            "node": "Aggregate – gather 3 video URLs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split out – iterate image_prompt": {
      "main": [
        [
          {
            "node": "NanoBanana: Create Image",
            "type": "main",
            "index": 0
          },
          {
            "node": "Seedream: Generate image from texte",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate 4o Image（GPT IMAG 1）",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger: Receive Idea via Telegram": {
      "main": [
        [
          {
            "node": "Telegram: Get Image File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Final Video to Google Drive": {
      "main": [
        [
          {
            "node": "Read Brand Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Seedream: Generate image from texte": {
      "main": [
        [
          {
            "node": "Wait – image rendering",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ChatGPT Image – fetch generated image": {
      "main": [
        [
          {
            "node": "Merge – collect image sources (3 providers)",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge – collect image sources (3 providers)": {
      "main": [
        [
          {
            "node": "Google Sheets – save image URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "76000754-59a0-4544-a004-d732d2001f2a",
  "meta": {
    "templateId": "9200",
    "templateCredsSetupCompleted": true,
    "instanceId": "d7579572c6a5601584101c0a8701b7330ee2d41c1a54fa2d62e180aee1b0c526"
  },
  "id": "SdLeuXAWdzPC1jPduT7SQ",
  "tags": []
}